body {
    background: linear-gradient(rgb(255, 255, 255), rgb(160, 226, 109), rgb(88, 204, 2));
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation_box {
    background-color: rgb(255, 255, 255);
    z-index: 50;
    border-radius: 25px;
    position: absolute;
    animation: moveLeft 1.25s linear forwards;
}

.button {
    left: 25px;
    top: 25px;
    position: absolute;
    height: 60px;
    width: 280px;
    background-color: rgb(88, 204, 2);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.button #line {
    position: absolute;
    background-color: rgb(64, 134, 10);
    right: 55px;
    height: 60px;
    width: 2px;
    z-index: 1;
}

.button #shadow {
    position: absolute;
    z-index: -1;
    background-color: rgb(64, 134, 10);
    border-radius: 10px;
    top: 3px;
    height: 60px;
    width: 279px;
}

.button:hover {
    transition: all 0.125s;
    top: 28px;
}

.button:hover #shadow {
    transition: all 0.125s;
    top: 0px;
}

/* curser */
.pointer {
    cursor: pointer;
}

/* selections menu */
.selection_menu {
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 20px;
    background: rgba(200, 220, 255, 0.15);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 3px solid rgba(0, 191, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1.5s ease-in-out;
}

.exercise {
    overflow: hidden;
    position: absolute;
    background-color: rgb(88, 204, 2);
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: right;
    transition: all 0.25s ease-in-out;
    left: 10px;
}

.exercise:hover {
    padding: 11px;
    font-size: 20px;
}

.bars_b,
.bars_t {
    z-index: 1;
    border-radius: 25px;
    height: 4px;
    width: 0px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transition: all 0.25s ease-in-out;
}

.bars_t {
    left: 0px;
    top: 0px;
}

.bars_b {
    right: 0px;
    bottom: 0px;
}

.exercise:hover .bars_b,
.exercise:hover .bars_t {
    width: 170px;
    background-color: rgb(255, 0, 174);
}

.selection_menu #shadow {
    position: absolute;
    z-index: 0;
    background-color: rgb(64, 134, 10);
    left: 10px;
    border-radius: 10px;
    height: 35px;
    width: 5px;
}

.selection_menu h1 {
    position: absolute;
    left: 25px;
}

.E_1 {
    top: 80px;
}

.E_2 {
    top: 130px;
}

.E_3 {
    top: 180px;
}

body footer {
    position: absolute;
    width: 100%;
    padding: 16px 0;
    background: rgba(0, 0, 0, 0.04);
    font-size: 0.95em;
    color: white;
    margin-top: 32px;
    bottom: 0px;
}

.source {
    position: absolute;
    right: 10px;
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.source:hover {
    color: rgb(0, 0, 0);
    scale: 1.1;
}