body {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(160, 226, 109), rgb(88, 204, 2));
  background-attachment: fixed;
  font-family: 'Nunito', 'Arial Rounded MT Bold', sans-serif;
  font-weight: bold;
}

  /* body * {
    outline: 1px solid red;
  } */

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerObject {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noInteraction {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.hiddenContent {
  opacity: 0;
  visibility: hidden;
}

.transition {
  transition: all 1.25s ease-in-out;
}

.pointer {
  cursor: pointer;
}

.animation_box {
  background-color: rgb(255, 255, 255);
  z-index: 10;
  border-radius: 25px;
  position: fixed;
  animation: moveLeft 1s linear forwards;
}

/* button */
.shadow_box {
  position: relative;
  background-color: rgb(64, 134, 10);
  border-radius: 10px;
  height: 60px;
  width: 279px;
}

#StartButton {
  left: 20px;
  top: 20px;
}

.button {
  border: none;
  position: absolute;
  height: 60px;
  width: 280px;
  background-color: rgb(88, 204, 2);
  border-radius: 10px;
  color: white;
  font-size: 27px;
  text-align: left;
  padding-right: 45px;
  font-weight: bold;
  bottom: 5px;
  transition: all 0.125s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_line {
  position: absolute;
  background-color: rgb(64, 134, 10);
  right: 55px;
  height: 60px;
  width: 3px;
  z-index: 3;
  transition: all 0.125s ease-in-out;
}

.button:hover {
  bottom: 0px;
}

/* selections menu */
.selection_menu {
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 20px;
  background: rgba(200, 220, 255, 0.15);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 3px solid rgba(0, 191, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in-out;
}

.exercise {
  overflow: hidden;
  position: absolute;
  background-color: rgb(88, 204, 2);
  border-radius: 10px;
  width: 150px;
  padding: 10px;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: right;
  transition: all 0.25s ease-in-out;
  left: 10px;
}

.exercise:hover {
  font-size: 13px;
}

.bars_b,
.bars_t {
  border-radius: 25px;
  height: 4px;
  width: 0px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.bars_t {
  left: 0px;
  top: 0px;
}

.bars_b {
  right: 0px;
  bottom: 0px;
}

.exercise:hover .bars_b,
.exercise:hover .bars_t {
  width: 170px;
  background-color: rgb(255, 0, 174);
}

.selection_menu #shadow_b {
  position: absolute;
  z-index: 0;
  background-color: rgb(64, 134, 10);
  left: 10px;
  border-radius: 10px;
  height: 35px;
  width: 5px;
}

.selection_menu h1 {
  position: absolute;
  left: 25px;
}

.E_1 {
  top: 80px;
}

.E_2 {
  top: 130px;
}

.E_3 {
  top: 180px;
}

#footer {
  position: absolute;
  width: 100%;
  padding: 16px 0;
  background: rgba(0, 0, 0, 0.04);
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
  color: white;
  margin-top: 32px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.source {
  position: absolute;
  bottom: 2px;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-size: clamp(0.6rem, 0.75vw + 0.375rem, 0.9rem);
}

.source:hover {
  color: rgb(0, 0, 0);
  scale: 1.05;
}

/* Sidebar */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --green: rgb(64, 134, 10);
  --gray: #35302D;
  --gray-shine: #3C3735;
  --white-off: #DFDBD9;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unstyled a {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: -230px;
  top: 0;
  bottom: 0;
  width: 17.5em;
  background: var(--gray);
  transition: all 0.25s ease-in-out;
  outline: var(--green) solid 3px;
  z-index: 1;
}

.sidebar:hover {
  left: 0px;
}

.logo {
  font: 300 2em var(--sans);
  text-align: center;
  color: var(--white-off);
  transition: all 0.25s ease-in-out;
}

.sidebar ul, .sidebar li {
  border: solid 1px var(--gray-shine);
}

.main-nav a {
  padding: 1.1em 0;
  color: var(--white-off);
  font: 400 1.125em var(--sans);
  text-align: center;
}

.main-nav a:hover, .logo:hover {
  color: var(--green);
  transform: scale(1.05);
}
.sidebar_content{
  opacity: 0;
  transition: all 0.75s ease-in-out;
}

.sidebar:hover .sidebar_content {
  opacity: 1;
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
}

.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}

.list-hover-slide a::before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px var(--green);
  background: var(--gray-shine);
  transition: 0.35s ease left;
}

.list-hover-slide a.is-current::before,
.list-hover-slide a:hover::before {
  left: 0;
}